@mixin number {
    position: absolute;
    transform: translateX(-150px);
    color: #FFF;
    font-family: 'Roboto';
    font-size: 240px;
    font-weight: 700;
    line-height: 240px;
    opacity: 0.1;
}
@mixin title {
    color: #FFF; 
    font-family: 'Playfair Display';
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 77px;
}

$subtitle-color: #FBD784;


.wrapper__hero-section {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .social__media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        padding-top: 190px;
        gap: 24px;

        &-text {
            color: #FFF;
            width: 22px;
            height: 77px;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 700;
            writing-mode: vertical-rl; 
        }

        &-instagram {
            width: 24px;
            height: 24px; 
        }

        &-twitter {
            width: 24px;
            height: 24px; 
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        padding-top: 182px;
        padding-left: 395px;

        &__guide-flex {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        &__horizontal-line {
            width: 72px;
            height: 2px;
            background: $subtitle-color;
        }

        &__guide {
            color: $subtitle-color;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 800;
            letter-spacing: 6px;
            text-transform: uppercase;
            letter-spacing: 6.2px;
        }

        h1 {
            padding-top: 22px;
            margin: 0;
            width: 950px;
            color: #FFF;
            font-family: 'Playfair Display';
            font-size: 88px;
            font-weight: 600;
            line-height: 100px;
            text-transform: capitalize;
            letter-spacing: -0.5px;
        }

        &__scroll-flex {
            padding-top: 44px;
            display: flex;
            align-items: center;
            gap: 16px;

            &-text {
                color: #FFF;
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 700;
            }
        }

        &__arrow-icon {
            width: 16px;
            height: 24px;
        }
    }

    .slider {
        color: #FFF;
        font-family: 'Roboto';
        text-align: right;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        gap: 32px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-left: 316px;
            padding-top: 190px;
        }

        &__icon {
            width: 3px;
            height: 240px;
            padding-top: 190px;
            padding-left: 1px;
        }
    }

}

.wrapper__first-section {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    padding-top: 796px;
    padding-left: 378px;
    gap: 115px;


    .first-section__left {
        padding-top: 190px;

        &-subtitle {
            display: flex;
            align-items: center;
            gap: 24px;

            &-number {
                @include number; 
            }

            &-horizontal-line {
                width: 72px;
                height: 2px;
                background: $subtitle-color;
            }

            &-get-started {
                color: $subtitle-color;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 800;
                letter-spacing: 6px;
                text-transform: uppercase;
            }
        }

        h2 {
            margin: 0;
            padding-top: 20px;
            width: 555px;
            @include title;
        }

        &-caption {
            padding-top: 35px;
            display: block;
            width: 632px;
            color: #FFF;
            font-family: "Roboto";
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.42px;
        }

        &-read-more {
            display: flex;
            align-items: center;
            gap: 16px;
            padding-top: 25px;

            &-text {
                color: $subtitle-color;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 700;
            }

            &-arrow {
                width: 28px;
                height: 20px;
                color: $subtitle-color;
            }
        }
    }

    .first-section__right {
        padding-top: 45px;
    }
}


.wrapper__second-section {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    gap: 264px;
    padding-left: 229px;
    padding-top: 202px;

    .second-section__right {

        &-subtitle {
            display: flex;
            align-items: center;
            gap: 24px;
            padding-top: 140px;

            &-number {
                @include number; 
            }

            &-horizontal-line {
                width: 72px;
                height: 2px;
                background: $subtitle-color;
            }

            &-hiking-essentials {
                color: $subtitle-color;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 800;
                letter-spacing: 6px;
                text-transform: uppercase;
            }
        }

        h2 {
            width: 555px;
            @include title;
            letter-spacing: -1px;
        }

        &-caption {
            padding-top: 40px;
            display: block;
            width: 632px;
            color: #FFF;
            font-family: "Roboto";
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.37px;
        }

        &-read-more {
            padding-top: 25px;
            display: flex;
            align-items: center;
            gap: 16px;

            &-text {
                color: $subtitle-color;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 700;
            }

            &-arrow {
                width: 28px;
                height: 20px;
                color: $subtitle-color;
            }
        }


    }
}

.wrapper__third-section {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    padding-left: 380px;
    padding-top: 200px;
    gap: 113px;

    .third-section__left {
        display: flex;
        flex-direction: column;
        padding-top: 142px;

        &-subtitle {
            display: flex;
            align-items: center;
            gap: 24px;

            &-number {
                @include number;    
            }

            &-horizontal-line {
                width: 72px;
                height: 2px;
                background: $subtitle-color;
            }

            &-where-you-go {
                color: $subtitle-color;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 800;
                letter-spacing: 6px;
                text-transform: uppercase;
                letter-spacing: 6.08px;
            }
        }

        h2 {
            padding-top: 22px;
            width: 555px;
            @include title;
            letter-spacing: -0.6px;
        }

        &-caption {
            padding-top: 38px;
            width: 632px;
            color: #FFF;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.5px;
        }

        &-read-more {
            display: flex;
            align-items: center;
            gap: 16px;
            padding-top: 28px;

            &-text {
                color: $subtitle-color;
                font-family: "Roboto";
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.4px;
            }

            &-arrow {
                width: 28px;
                height: 20px;
                color: $subtitle-color;
            }
        }
    }
}